html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="color-scheme", content="light dark")
        title
            block title
        <meta name="viewport" content="width=device-width, initial-scale=1">
        // css: https://thecascade.dev/article/least-amount-of-css/
        link(rel="stylesheet", href="/static/pico.min.css")
    body
        main.container
            block content
