html(lang="en", data-theme="light")
    head
        title
            | #{permission_requested} login page
        <meta name="viewport" content="width=device-width, initial-scale=1">
        // css: https://thecascade.dev/article/least-amount-of-css/
        style.
            html { color-scheme: light dark; }
            body {
                font-family: system-ui;
                font-size: 1.25rem;
                line-height: 1.5;
            }
            img,svg,video {
                max-width: 100%;
                display: block;
            }
            main {
                max-width: min(70ch, 100% - 4rem);
                margin-inline: auto;
            }
            .panel {
                position: absolute;
                margin: auto;
                top: -50px;
                right: 0;
                bottom: 0;
                left: 0;
                width: 300px;
                height: 300px;
                border-radius: 5px;
            }
            input {
                width: 100%;
                font-size: 1.25rem;
            }
            .error {
                color: red;
                border-radius: 5px;
                background: light-dark(#eee, #444);
                padding: 1em;
                }
    body
        main.container
            if error
                h2.error= error
            .panel
                form(action="/login", method="POST")
                    p Sign in to #{permission_requested} access using your #[a(href='https://membership.vanhack.ca') NOMOS] credentials
                    p: input#username(type="text", name="username", placeholder="Username or E-Mail address")
                    p: input#password(type="password", name="password", placeholder="Password")
                    input(type="submit", value="Login")
                    p: sub If you are having trouble logging in, or need to reset your password, visit #[a(href='https://membership.vanhack.ca') membership.vanhack.ca].
