extends layout 

block title 
    | Tool unlock panel

block content
    script(src="/static/client.js") 
    
    article 
        header 
            h1 Tool access controls
        div(role="group")
            each action in actions
                button(onclick=`performAction("${action}", this)`)= action.replace('-', " ")
        footer
            h4#error