extends layout 

block title 
    | Tool unlock panel

block content
    script(src="/static/client.js") 
    
    article 
        header 
            h1 Tool access controls
        div(role="group")
            each action in actions
                button(onclick=`performAction("${action.id}", this)`, name=action.name)= action.name
        footer
            h4#error